.contenitore_contenuti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    .contenitore {
        background-color: #f0f0f0;
        color: #2e2e2e;
        margin-bottom: 50px;
        filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.7));
        .contenitore_input {
            display: flex;
            align-items: center;
            justify-content: center;
            #input,
            .btn {
                height: 40px;
                margin: 0 5px;
            }
            #input {
                border: 1px solid #2e2e2e;
                padding: 5px;
            }
        }
        .contenitore_risultati {
            .risultati {
                display: flex;
                align-items: center;
                margin: 25px 0;
                p {
                    align-self: stretch;
                    display: flex;
                    align-items: center;
                }
                .bottone_aggiorna {
                    margin-left: 30px;
                }
                .bottone_elimina {
                    margin-left: 5px;
                }
            }
        }
        .recupero_task,
        .nessun_task {
            margin: 25px 0;
        }
    }
    .torna_home {
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
    }
}
