<nav class="navbar rounded-3 mt-3">
  <form class="container-fluid justify-content-start d-flex justify-content-evenly">
    <button class="btn btn-outline-success" type="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="'/home'">Home</button>
    <button class="btn btn-outline-success" type="button" routerLinkActive="active" [routerLink]="'/todos'">Da fare</button>
    <button class="btn btn-outline-success" type="button" routerLinkActive="active" [routerLink]="'/completed'">Completate</button>
  </form>
</nav>
