@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    height: 210vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    height: 15%;
    width: 100%;
}

#header{
    height: 100%;
}

#logo-header{
    height: 80px;
    border-bottom: 2px solid rgb(247, 184, 161);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header{
    width: 200px;
}

.logo-bottom-text{
    font-size: 0.8rem;
    height: 30px;
    background-color: rgb(242, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-bottom-text p{
    margin: 0;
}

.logo-bottom-text span{
    font-weight: 700;
}

main{
    height: 2180vh;
}

#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section1 h1{
    width: 600px;
    padding-top: 50px;
}

#section1 p{
    font-size: 0.8rem;
    width: 600px;
}

figure{
    margin: 0;
}

.foto-focaccia{
    width: 600px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgb(43, 37, 37);
}

.didascalia{
    color: grey;
    font-style: italic;
}

#featured{
    border-left: 2px solid orangered;
    padding-left: 20px;
}

.featured{
    margin-bottom: 0;
}

.fresh-cranberry{
    margin-top: 0;
}

#section2{
    padding-top: 20px;
    width: 600px;
}

#section2 h2{
    border-bottom: 2px solid lightblue;
    padding-bottom: 10px;
}

#section2 p{
    font-size: 1rem;
    font-weight: 700;
    padding-top: 20px;
}

#section3{
    width: 600px;
}

#section3 h2{
    border-bottom: 2px solid lightblue;
    padding-bottom: 10px;
}

#section3 p{
    font-size: 1rem;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
}

.no-list{
    list-style-type: none;
}

footer{
    height: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}