
/* SIZING */

$no_size: 0;

$size_1: 1px;
$size_2: 2px;
$size_3: 3px;
$size_5: 5px;

$size_10: 10px;
$size_15: 15px;
$size_20: 20px;
$size_25: 25px;
$size_30: 30px;
$size_35: 35px;
$size_50: 50px;
$size_75: 75px;

$size_100: 100px;
$size_150: 150px;
$size_200: 200px;
$size_250: 250px;
$size_300: 300px;
$size_350: 350px;
$size_400: 400px;
$size_500: 500px;


/* % */

$quarter: 25%;
$half: 50%;
$three_quarters: 75%;
$total: 100%;


/* FONT SIZE */

$font_size_0_6: 0.6rem;
$font_size_0_7: 0.7rem;
$font_size_0_8: 0.8rem;
$font_size_1: 1rem;
$font_size_1_2: 1.2rem;
$font_size_1_5: 1.5rem;
$font_size_1_7: 1.7rem;
$font_size_2: 2rem;
$font_size_2_2: 2.2rem;
$font_size_2_5: 2.5rem;
$font_size_3: 3rem;
$font_size_3_5: 3.5rem;
$font_size_4: 4rem;


/* FONT WEIGHT */

$font_weight_300: 300;
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_700: 700;


/* COLORS */

$color_black: #000;
$color_grigio_custom: #2e2e2e;
$color_grigio_custom_2: #222222;
$color_yellow: yellow;
$color_white: #fff;
$color_orange: orange;
$color_red: red;
$color_blue: blue;
$color_green: green;
$color_lightgreen: lightgreen;