
.btn1 {

    margin-top: $little-little;
    background-color: $color-lightblue;
    font-weight: $bold-font-weight;
    border: 1px solid $color-black;
    color: $color-black;
    padding: $minimal;
    border-radius: $minimal;
    transition: 0.5s ease-in-out;

    &:hover {

        background-color: $color-green;
        color: $color-white;
        transform: scale(1.2);
        border: none;

    }

}

.btn2 {

    margin-top: $little-little;
    background-color: $color-lightblue;
    font-weight: $bold-font-weight;
    border: 1px solid $color-black;
    color: $color-black;
    padding: $minimal;
    border-radius: $minimal;
    margin-left: $large-space;
    transition: 0.5s ease-in-out;

    &:hover {

        background-color: $color-green;
        color: $color-white;
        transform: scale(1.2);
        border: none;


    }

}

