
/* SIZING */

$minimal: 10px;
$little-little: 20px;
$little: 50px;
$mid-little: 100px;
$medium: 200px;
$large: 400px;
$big: 500px;


/* % */

$quarter: 25%;
$half: 50%;
$three-quarters: 75%;
$total: 100%;


/* FONT */

$font-poppins: 'Poppins', sans-serif;

$little-font-size: 0.8rem;
$medium-font-size: 1rem;
$large-font-size: 1.5rem;
$big-font-size: 2rem;

$thin-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;


/* PADDING - BORDER - MARGIN  */

$no-space: 0;
$little-space: 5px;
$medium-space: 10px;
$large-space: 50px;
$big-space: 100px;


/* COLORS */

$color-black: black;
$color-yellow: yellow;
$color-white: white;
$color-orange: orange;
$color-red: rgba(255, 0, 0, 0.826);
$color-blue: blue;
$color-lightblue: rgba(75, 193, 233, 0.916);
$color-green: green;