<div class="contenitore_contenuti">
    <div class="contenitore text-center mt-5 p-4 rounded-3">
        <h1 class="fw-bold">La tua To-Do List</h1>
        <h2 class="mb-3">Scegli cosa visualizzare:</h2>
        <p>Lista delle cose da fare:<button class="btn btn-outline-success me-2 ms-3" type="button"
                [routerLink]="'/todos'">Da fare</button></p>
        <p>Lista delle cose completate:<button class="btn btn-outline-success me-2 ms-3" type="button"
                [routerLink]="'/completed'">Completate</button></p>
    </div>
</div>
