
footer {

    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_blue;
    color: $color-white;
    font-weight: $font_weight_500;
    transition: 0.5s ease-in-out;

    &:hover {

        background-color: $color_red;
        
    }

    a {

        color: $color-white;
        text-decoration: none;
        transition: 0.5s ease-in-out;

        &:hover {

            transform: scale(1.1);
            text-decoration: underline;

        }

    }

}