/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 18px;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(34, 238, 34, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}
